<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<a href="calendar" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('calendar','','/images/calendar_glow.png',1)"><img src="/images/calendar_nor.png" name="calendar" width="200" height="150" border="0"></a>
<a href="calendar" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('summary','','/images/summary_glow.png',1)"><img src="/images/summary_nor.png" name="summary" width="200" height="150" border="0"></a>
<a href="calendar" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('info','','/images/info_glow.png',1)"><img src="/images/info_nor.png" name="info" width="200" height="150" border="0"></a>
